{% extends 'base.html' %}

{% block title %}
  Create Category
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4 text-center">Creating a New Category</h2>
      <form method="post" action="{{ url_for('category_routes.create') }}">
        
        <div class="form-group mb-3">
          <label for="name">Category Name</label>
          <input type="text" id="name" name="name" class="form-control" required>
        </div>
        
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Create Category</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
